html,body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(white, #e8d1c5ff, #eddcd2ff, #fff1e6ff, #edede8ff);
  font-size: 18px;
  font-family: "Viaoda Libre", cursive;
}

div.counter-container{
  background: whitesmoke;
  padding: 1em;
  border: 1px solid;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
    text-align: center;
}


div > p:nth-child(2) {
  background-color: aquamarine;
  padding: 10px;
}